@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
@import url('https://fonts.googleapis.com/css?family=Cabin');

$accent-font: 'Pathway Gothic One', sans-serif;

$body-font: 'Cabin', sans-serif;

$accent-color: #feda4a;

body {
  font-family: $body-font
  
}

$light-gray: #7b807b;

$republican-red: #a2000b;

$democrat-blue: #184982;

