@import 'variable';

.oneSquare {
  border: 1px solid gray;
}

.gray {
  background-color: $light-gray;
}

.white {
  background-color: white;
}

.blue {
  background-color: $democrat-blue;
}

.red {
  background-color: $republican-red;
}

.piece-container {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  width: inherit;
}