.oneSquare {
  height: 100%;
  width: 100%;
  border: 1px solid black; }

.gray {
  background-color: gray; }

.white {
  background-color: white; }

.piece-container {
  height: 100px;
  width: 100px; }
