@import url("https://fonts.googleapis.com/css?family=Pathway+Gothic+One");
@import url("https://fonts.googleapis.com/css?family=Cabin");
body {
  font-family: "Cabin", sans-serif; }

.oneSquare {
  height: 100%;
  width: 100%;
  border: 1px solid black; }

.piece-container:hover {
  background: green; }

.gray {
  background-color: #7b807b; }

.white {
  background-color: white; }

.blue {
  background-color: #184982; }

.red {
  background-color: #a2000b; }

.green:hover {
  background-color: green; }

.red:hover {
  background-color: red; }

.piece-container {
  height: 100px;
  width: 100px; }
